<h2>Education</h2>
{% for edu in sidebar.education %}
  <div class="sidebar-edu-entry">
    <strong>{{ edu.degree }}</strong> - <span>{{ edu.institution }}</span> - <span>{{ edu.year }}</span>
    <ul class="sidebar-edu-comments">
      {% for comment in edu.comments %}
        <li>{{ comment|safe }}</li> 
      {% endfor %}
    </ul>
  </div>
{% endfor %}
