<p style="margin: 0; font-weight: bold; font-size: 18px; color: #bc412b;">
  {{ tags.title }}
</p>
<p style="margin: 0;">{{ tags.location }}</p>
<p style="margin: 0;">
  {{ tags.email }} | {{ tags.phone }} |
  <a href="{{ tags.website }}">Personal website</a> |
  <a href="{{ tags.linkedin }}">Linkedin</a> |
  <a href="{{ tags.github }}">Github</a>
</p>
