<p style="margin: 0; font-weight: bold; font-size: 18px; color: #bc412b;">
   {{ sidebar.tags.titles | join(' | ') }}
</p>
<p style="margin: 0;">{{ sidebar.tags.location }}</p>
<p style="margin: 0;">
  {{ sidebar.tags.email }} | {{ sidebar.tags.phone }} |
  <a href="{{ sidebar.tags.website }}">Personal website</a> |
  <a href="{{ sidebar.tags.linkedin }}">Linkedin</a> |
  <a href="{{ sidebar.tags.github }}">Github</a>
</p>
