<h2>Job History</h2>
<ul>
  {% for job in job_history %}
    <li>
      <strong>{{ job.title }}</strong> at {{ job.company }} | <em>{{ job.start_date }} - {{ job.end_date }}</em>
    </li>
  {% endfor %}
</ul>
