<h2>Technical competencies</h2>
<table class="competency-list">
  {% for competency in sidebar.technical_competencies %}
    <tr class="competency-item">
      <td class="competency-key">{{ competency.key }}:</td>
      <td class="competency-value">
        {{ competency.value|safe }}
      </td>
    </tr>
  {% endfor %}
</table>
