<h2>Job History</h2>
<ul>
  {% for job in job_history %}
    <li>
      <strong>{{ job.title }}</strong> at {{ job.company }}<br>
      <span>{{ job.start_date }} - {{ job.end_date }}</span>
    </li>
  {% endfor %}
</ul>
