<!DOCTYPE html>
<html>
<head>
  <title>{{ resume_title }}</title>
  {% with cv_url=cv_url, gravatar_link=gravatar_link, og_description=og_description %}
    {% include 'og_tags.jinja2' %}
  {% endwith %}
  <style type="text/css">
    {% include 'styles.css' %}
  </style>
</head>
<body>
    <div class="sidebar">
        {% include 'sidebar/tags.jinja2' %}
        {% include 'sidebar/education.jinja2' %}
        {% include 'sidebar/skills.jinja2' %}
        {% include 'sidebar/personal_details.jinja2' %}
    </div>
    <div class="main-content">
        <h1>{{ resume_title }}</h1e>
        {% with summary=summary %}
            {% include 'main_content/summary.jinja2' %}
        {% endwith %}
        {% with section_title=freelance_projects_context.section_title, projects=freelance_projects_context.projects %}
            {% include 'main_content/project_listing.jinja2' %}
        {% endwith %}
        {% with section_title=ucb_projects_context.section_title, projects=ucb_projects_context.projects %}
            {% include 'main_content/project_listing.jinja2' %}
        {% endwith %}
        {% with section_title=personal_projects_context.section_title, projects=personal_projects_context.projects %}
            {% include 'main_content/project_listing.jinja2' %}
        {% endwith %}
    </div>
</body>
</html>
