<!DOCTYPE html>
<html>
<head>
  <title>{{ resume_title }}</title>
  {% with cv_url=og_tags.cv_url, gravatar_link=og_tags.gravatar_link, og_description=og_tags.og_description %}
    {% include 'og_tags.jinja2' %}
  {% endwith %}
  <style type="text/css">
    {% include 'styles.css' %}
  </style>
</head>
<body>
    <div class="sidebar">
        {% include 'sidebar/tags.jinja2' %}
        {% include 'sidebar/education.jinja2' %}
        {% include 'sidebar/skills.jinja2' %}
        {% include 'sidebar/personal_details.jinja2' %}
    </div>
    <div class="main-content">
        <h1>{{ resume_title }}</h1e>
        {% with summary=summary %}
            {% include 'main_content/summary.jinja2' %}
        {% endwith %}
        {% for section in projects %}
            {% include 'main_content/project_listing.jinja2' %}
        {% endfor %}
    </div>
</body>
</html>
