<!-- Open Graph tags -->
<meta property="og:title" content="{{ resume_title }}" />
<meta property="og:type" content="website" />
<meta property="og:url" content="{{ your_cv_url }}" />
<meta property="og:image" content="https://www.gravatar.com/avatar/d199fd8697b01a299af0474947354b8f?s=300" />
<meta property="og:description" content="{{ og_description }}" />
<meta property="og:site_name" content="{{ resume_title }}" />
