<!-- Open Graph tags -->
<meta property="og:title" content="{{ resume_title }}" />
<meta property="og:type" content="website" />
<meta property="og:url" content="{{ cv_url }}" />
<meta property="og:image" content="{{  gravatar_link  }}" />
<meta property="og:description" content="{{ og_description }}" />
<meta property="og:site_name" content="{{ resume_title }}" />
