h1,h2,h3,h4,body,p,a, table, td,tr {
  font-family: Avenir,Verdana,sans-serif;
	padding: 0;
	border: 0;
  margin: 5;
}

body,td,tr {
  font-size: 14px;
  line-height: 1.5;
  color: #333;
}

h1 {
  text-align: left;
	font-size: 3em;
	line-height: 1em;
	position: relative;
  font-weight: bold;
}

h2 {
  font-size: 24px;
  font-weight: bold;
  color: #bc412b;
}

h3 {
  font-size: 18px;
  font-weight: bold;
  color: #c3513d;
}

a {
	color: inherit;
	/*text-decoration:none*/
}

a:hover {
	color:#39f
}

#webaddress {
  margin-top: 1em;
	color: #bc412b;
	font-family: Monaco,Menlo,monospace,sans-serif;
	font-size: 100%;
}

.sidebar-edu-entry {
  font-size: 14px;
  line-height: 1.5;
}

.sidebar-edu-entry strong {
  font-size: 16px;
}

.sidebar-edu-comments {
  font-size: 12px;
  list-style: none; /* Removes the bullet */
  padding-left: 0;  /* Reduces the gap on the left */
  margin-top: 5px;  /* Optional: Adds some space above the list */
}

.table-without-border {
  display: table;
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}

.table-row {
  display: table-row;
}

.table-cell {
  display: table-cell;
  border: none;
}

.table-cell:first-child {
  width: 80%;
  text-align: left;
  font-weight: bold;
}

.table-cell:last-child {
  width: 20%;
  text-align: right;
}

/*Entries for CV title and bullets*/
.cv-entry {
  margin-bottom: 5px;
}

.cv-entry h3,
.cv-entry h4 {
  margin-bottom: 5px;
}

.cv-entry ul {
  margin-bottom: 0px;
  margin-left: 1.5em;
  padding-left: 0;
}

.project-details {
  margin-left: 5px;
  padding-left: 0
}

/*Entries for skills section */
table {
  margin-left:auto; 
  margin-right:auto;
}

td {
  vertical-align: top;
}

.cv-container {
  display: table;
  width: 100%;
}

.sidebar, .main-content {
  display: table-cell;
}

.sidebar {
  width: 25%; /* This means that this item will take up 25% of the parent container */
  background-color: #f4f4f4;
  padding: 10px;
  box-sizing: border-box;
}

.main-content {
  width: 75%; 
}

/* Competency list */
.competency-list {
  width: 100%;
  border-collapse: collapse;
}

.competency-item {
  margin-bottom: 10px;
}

.competency-key {
  font-weight: bold;
  text-align: right;
  padding-right: 10px;
  width: 40%;
}

.competency-value {
  text-align: left;
  width: 60%;
}

/* Usage: <div class="page-break"></div> */
.page-break {
  page-break-after: always;
}